{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
          {{ category.description|truncatewords:155 }}
    {% else %}
            Welcome to ABC store where you can buys different items....
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
          {{ category.name }} -HOME SHOPEE
    {% else %}
            SEE OUR COLLECTIONS...
    {% endif %}
{% endblock %}
{% block content %}
{% if category %}
<div>
  <div class="row my_row_class" >
      <div class="mx_auto">
    <p><a href="{% url 'shopapp:allProdCat' %}">Our Product Collections</a></p>
  </div>
</div>

</div>
{% endif %}

     {% if category %}
    <div class="mx_auto">
        <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
</div>
    <br>
<div>
     <h1 class="text-center my_title">{{category.name}}</h1>
     <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
<div>
<img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="our products">
</div>
<br>
<div>
  <h1 class="text-center my_title">our product collection</h1>
  <p class="text-justify">A diet rich in vegetables and fruits can lower blood pressure, reduce the risk of heart disease and stroke, prevent some types of cancer, lower risk of eye and digestive problems, and have a positive effect upon blood sugar, which can help keep appetite in check. Eating non-starchy vegetables and fruits like apples, pears, and green leafy vegetables may even promote weight loss. [1] Their low glycemic loads prevent blood sugar spikes that can increase hunger.
At least nine different families of fruits and vegetables exist, each with potentially hundreds of different plant compounds that are beneficial to health. Eat a variety of types and colors of produce in order to give your body the mix of nutrients it needs. This not only ensures a greater diversity of beneficial plant chemicals but also creates eye-appealing meals.</p>
</div>
    {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
            <div class="card text-center" style="min-width:18rem;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" style="width:300px; height:300px" alt="{{product.name}}"></a>
           <div class="card-body">
               <h4>{{product.name}}</h4>
               <p>${{product.price}}</p>
           </div>
            </div>

        </div>
          {% endfor %}


    </div>
</div>
<div class="mx-auto">
    {% if products.paginator.num_pages > 1 %}
    <hr>
    <div class="text-center">
        {% for pg in products.paginator.page_range %}
        <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
        {% endfor %}
    </div>
    {% endif %}
    <br>
</div>



{% endblock %}


